html {
  font-size: 16px;
}

body {
  margin: 0;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.35px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.35px;
}

.text-bold {
  font-weight: 700;
}

main {
  padding: 80px 32px 32px 262px;
  min-height: 100vh;
  background: dodgerblue;
}

main::-webkit-scrollbar {
  width: 16px;
}

main::-webkit-scrollbar-thumb {
  background-color: #909090;
}

main::-webkit-scrollbar-track {
  background-color: rgb(18, 18, 18);
}
