html {
  font-size: 16px;
}

body {
  margin: 0;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.35px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.35px;
}

.text-bold {
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  left: 230px; /* sidebar width */
  right: 0;
  height: 80px;
  background-color: rgb(18, 18, 18);
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 80px 32px 32px 262px;
  min-height: 100vh;
  background: dodgerblue;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
}

::-webkit-scrollbar-track {
  background-color: rgb(18, 18, 18);
}
